
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}
.top{
    background-color: #2c2e31;
    width: 100%;
    height: 500px;
}


.cuadroBlanco{
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 15em;
    background-color: white;
    width: 43.6rem;
    height: 28em;
    flex-wrap: wrap;
    padding: 10px 0;
    text-align: center;
    box-shadow: 0px 1px 0px  rgb(222, 219, 219);
    border-radius: 3px;

    
}

.name, .lastName{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2em;
}

.iconos{
    display: flex;
    position: relative;
    top: 50px;

}

.perfil{
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 3;
    position: absolute;
    bottom: 16em;
    background-color: white;
    width: 180px;
    height: 180px;
    border-radius: 200px;
    border: 1px solid gray;
    
    
}


hr{
    width: 43.6rem;
    color: #000;
    height: 1px;
    opacity: 50%;
    position: relative;
    top: 70px;
}

.imagenPerfil{
    width: 170px;
    height: 170px;
    border-radius: 200px;

}

.info{
    display: flex;
    justify-content: center;
    flex-direction: column;
    position: absolute;
    margin-top: 5em;


    
}

.texto{
    font-family: 'ubuntu';
    margin-bottom: 0.5em;
    opacity: 50%;
    font-size: 1.5rem;
}



#img1{
    background-image: url(img/card_icons.png);
    width: 5em;
    height: 6em;
    transform: scale(0.6);
    background-position-y: -0.1em;
    background-position-x: 0em;
    transition: all 0.3s  ease-in-out;
    
    
    
}

/*#img1:hover{
    background-position-y: -0.1em;
}*/

#img2{
    background-image: url(img/card_icons.png);
    width: 5em;
    height: 6em;
    transform: scale(0.6);
    background-position-y: 6em;
    background-position-x: 38.8em;
    transition: all 0.3s  ease-in-out;
    
    
    
}

#img2:hover{
    background-position-y: -0.1em;
}

#img3{
    background-image: url(img/card_icons.png);
    width: 5em;
    height: 6em;
    transform: scale(0.6);
    background-position-y: 6em;
    background-position-x: 30.3em;
    transition: all 0.3s  ease-in-out;
    
    
    
}

#img3:hover{
    background-position-y: -0.1em;
}

#img4{
    background-image: url(img/card_icons.png);
    width: 5em;
    height: 6em;
    transform: scale(0.6);
    background-position-y: 6em;
    background-position-x: 21.9em;
    transition: all 0.3s  ease-in-out;
    
    
    
}

#img4:hover{
    background-position-y: -0.1em;
}

#img5{
    background-image: url(img/card_icons.png);
    width: 5em;
    height: 6em;
    transform: scale(0.6);
    background-position-y: 6em;
    background-position-x: 13.3em;
    transition: all 0.3s  ease-in-out;
    
    
    
}

#img5:hover{
    background-position-y: -0.1em;
}

#img6{
    background-image: url(img/card_icons.png);
    width: 5em;
    height: 6em;
    transform: scale(0.6);
    background-position-y: 6em;
    background-position-x: 5em;
    transition: all 0.3s  ease-in-out;
    
    
    
}

#img6:hover{
    background-position-y: -0.1em;
}

