*{
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;


}



div{
    display: flex;
    justify-content: center;
}

mi-barra{
    background: linear-gradient(blue, gray, black);
    display: flex;
    justify-content: center;
}

header{
    text-align: center;
}
.placa, .vigencia, .fecha_multa, .valor_multa, .ciudad, .pagado{
    background-color: rgb(145, 247, 210);
    padding: 1rem;
    text-align: center;
    width: 30rem;
    height: 3rem;
    border: 1px solid black;
}