body{
    
   background-image: url(../img/poker.jpg);
    background-size: cover;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-repeat: no-repeat;
    
    
}


.carta1Computer{
    margin-top: 2vw;
    display: flex;
    
}

.carta1Computer img{
    width: 10vw;
}

.carta1Player1 img{
    width: 10vw;
}


.carta1Player1{
    margin-top: 16vw;
    display: flex;
}

.mazo img{
    width: 16vw;

}



#pedir{
    background-color: brown;
    color: white;
    width: 5vw;
    height: 5vw;
    border-radius: 50px;
    font-size: 1vw;

}